# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Executable and library files
*.exe
*.dll
*.msi
*.deb
*.rpm
*.pkg
*.app
*.apk
*.ipa
*.jar
*.war
*.zip
*.tar
*.gz
